//SOCIAL COLORS

$facebook: #3b5998;
$google: #F90101;
$pinterest: #C92228;
$twitter: #4099FF;


//VISION RESCUE COLORS

$accent: #d61830;
$accent-hover: #be071e;
$accent-light: #ffb2bc;
$grey: #b8b8b8;
$grey-hover: #a2a1a1;
$dark: #363636;
$grey-menu: #898989; //used also for amount in donate buttons
$grey-light: #eeeeee;
$ligh-separator: #dbdbdb;  //used separating the tabs in projects
$font-color: #434344;
$lighter-font-color: #636363;
$input-placeholders: #a9a8a8;
$dark-separator: #555555;
$navigation-bar: #252525;
$background-color: #dedede;

//SUPPORT CARDS
$support-card-grey: #8b8b8b;
$support-card-background: #e8e8e8;
$support-card-footer: #e1e1e1;